@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

.modal-reserve {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
  }
  
  .close-button {
    color: black;
    font-size: 30px;
  }

  .payment_info {
    display: flex;
    border-radius: 5px;
    padding: 10px 10px;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }

  
  .payment_info > img {
    width: 200px;
    height: 270px;
    border-radius: 5px;
  }
  
  .payment_title {
    padding: 0px 30px; 
    margin: 5px 0px; 
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 800;
    font-size: 20px;
  }

  .payment_text {
    display: inline-block;
    padding: 0px 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 800;
  }

  .payment_text2 {
    display: inline-block;
    text-align: right;
    padding: 0px 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 800;
  }

  .payment_but {
    text-align: right;
    padding: 0px 10px;
    margin: 10px;
  }

