.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100; 
  background-color: white; 
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2); 
}



.contents {
  display : flex;
  width : 100%;
  height : 100%;
  margin-left : 10px;
  align-items : center;
  justify-content : space-between;
}

.logo {
  color : red;
}

.navigation > ul {
  margin-right : 20px;
  display : flex;
  list-style : none;
}

.list {
  margin-left : 30px;
} 

.nounderline {
  margin : 10px;
  text-decoration: none; 
  color: inherit; 
}

