
.notice {
  padding: 20px;
  border: 1px solid #e1e1e1;
  padding-top : 100px;
}

.noticeTable {
  width: 100%;
  border-collapse: collapse;
}

.noticeTable th, .noticeTable td {
  border: 1px solid #ccc;
  padding: 10px;
}

.noticeTitle {
  width: 30%;
  font-weight: bold;
}

.noticeContent {
  width: 50%;
}

.createButton {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  top: 140px;
  right: 30px;
  z-index: 2;
  &:hover {
    background-color: #0056b3;
  }
}
.noticeList {
  list-style: none;
  padding: 0;
}

.noticeItem {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  text-align: center; 
}

.noticeItem button {
  margin-right: 10px; /* 수정 버튼과 삭제 버튼 사이의 간격을 추가합니다. */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.input{
  width: 60%;
  padding: 10px;
  margin: 10px 0;
}

.textarea {
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  height: 400px;
}

.formButtons {
  display: flex;
  justify-content: flex-end;
}

.formButtons button {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom : 10px;
  margin-left: 10px; /* 등록 버튼과 취소 버튼 사이의 좌우 여백 추가 */
  &:hover {
    background-color: #0056b3;
  }
}



.deleteModal button {
  margin-right: 10px; /* 수정 버튼과 삭제 버튼 사이의 간격을 추가합니다. */
}