.form form a,
.form form a:link,
.form form a:visited {
    text-decoration: none;
    color: black;
}

.form {
    clear: both;
    border: 1px solid #e0dede;
    background: #ffffff;
    max-width: 700px;
    height: 520px;
    margin: 0 auto 100px;
    margin-top: 5%;
    padding: 10px;
    text-align: center;
}

.form form {
    margin: auto;
    width: 600px;
    border-top: 1px solid #e0dede;
}

.form>img {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-top: 10px;
}

.form>p {
    position: relative;
    display: inline-block;
    bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.form .login {
    position: relative;
    float: left;
    clear: both;
    outline: 0;
    background: rgb(255, 255, 255);
    width: 65%;
    height: 40px;
    border: 1px solid #e0dede;
    margin-top: 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    position: relative;
    float: right;
    border: 0;
    bottom: 40px;
    background-color: #272626;
    cursor: pointer;
    color: white;
    width: 200px;
    height: 95px;
    clear: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.form .left {
    position: relative;
    float: left;
    width: 49%;
    height: 30px;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid #e0dede;
    background-color: #ece6e6;
    font-size: 12px;
    line-height: 18px;
}

.form .right {
    position: relative;
    float: left;
    width: 50%;
    height: 30px;
    bottom: 40px;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px solid #e0dede;
    border-left: none;
    background-color: #ece6e6;
    font-size: 12px;
    line-height: 18px;
}

.form .easy {
    clear: both;
    position: relative;
    width: 500px;
    margin: 0 auto;
    padding-bottom: 130px;
    border: 1px solid #e0dede;
    background-color: #ece6e6;
    font-weight: bold;
}

.kdiv {
    position: relative;
    float: left;
    width: 80px;
    margin-left: 30px;
    margin-top: 10px;
}

.kakao {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.size {
    font-weight: lighter;
    font-size: 10px;
}

.ezlogin {
    position: relative;
    float: right;
    width: 80px;
    height: 100px;
    margin-right: 30px;
    border: 1px solid #c2bfbf;
    margin-top: 10px;
}

.sizeb {
    font-weight: bold;
    font-size: 10px;
}

.smallimg {
    padding-top: 5px;
    width: 50px;
    height: 50px;
}