.mainSlide{
  width: 1500px;
  height: 450px;
  display: inline-block;
}

.imgDiv{
  float:left;
  width:90%;
  border: 1px solid gray;
  border-radius: 20px;
  overflow: hidden;
 
}
.imgDiv-sub{
  float: left;
  width: 400px;
  margin-top: 100px;
  margin-left: 50px;
  position: absolute;
  font-size: 20px;
}
.mainSlide img{
  width: 300px; 
}

.previousButton{
  float:left;
  margin-top: 35%;
  width:5%;
  position: relative;
  left: 50px;
  top: -350px;
}

.nextButton{
  margin-top: 35%;
  float:left;
  width:4%;
  position: relative;
  right:43px;
  top: -350px;
}

.mainSlide button{
  background-color: white;
  border: none;
  color: gray;
  border: 1px solid gray;
  border-radius: 10px;
}
.mainSlide button:hover{
  cursor: pointer;
}

.main-box{
  height: 200px; 
  color: gray;

}
.select-classify{
  border: 5px solid rgb(228, 228, 171);
  border-radius: 10px;
  width: 220px;
  height: 100%;
  float: left;
  text-align: left;
  padding: 0 20px;
}

.select-classify button{
  background-color: white;
  border: none;
  font-size: 15px;
  color: gray;
  cursor: pointer;
}
.select-classify button:hover{
  color: black;
}

.mapDiv{

  position: relative;
  width: 200px;
  height: 240px;
  right: 435px;
  display: inline-block;
  z-index: 9;
}

#map_img{
  width: 100%;
  height: 100%;
  border: 5px solid rgb(228, 228, 171);
  border-radius: 10px;
}

.mapDiv button{
  background-color: rgb(110, 107, 107);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

#seoul{
  position: relative;
  bottom: 220px;
  left: 65px;
}

#gyeong-gi{
  position: relative;
  bottom: 190px;
  left: 35px;
}

#incheon{
  position: relative;
  bottom: 195px;
  right: 70px;
}

#gyeong-buk{
  position: relative;
  bottom: 150px;
}
#gyeong-nam{
  position: relative;
  bottom: 105px;
  left: 90px;
}
#daegu{
  position: relative;
  bottom: 130px;
  left: 60px;
}
#busan{
  position: relative;
  bottom: 80px;
  left: 45px;
}
#gwangju{
  position: relative;
  bottom: 90px;
  right: 120px;
}
#jelloa{
  position: relative;
  bottom: 135px;
  right: 10px;
}
#jeju{
  position: relative;
  bottom: 75px;
}

.select-classify-right-span{
  float: right;
}
.show-list-title{
  text-align: left;
  padding-left: 285px;
}

.show-list{
  padding: 0 285px;
}
.show-main {
  padding: 0 20px;
  border: 2px solid #ccc;
  padding: 20px;
  display: flex;
  flex-wrap: wrap; /* 항목을 여러 행에 걸쳐 배열하도록 수정 */
  justify-content: flex-start; 
  
}

.main-list {
  width: 14.28%; /* 각 항목이 7개씩 나열되도록 너비 조정 */
}

.mainslide-show-info{
  height: 360px;
  font-size: 12px;
  margin-top: 10px;
  padding: 0 10px;
}
.mainslide-show-info:hover{
  background-color: tomato;
  color: white;
  font-size: 14px;
  height: 360px;
  overflow: hidden;
}
.mainslide-show-info:hover img{
  width: 160px;
  height: 200px;
}
.mainslide-show-info:hover + hr{
  position: relative;
  bottom: -2px;
}
.mainslide-show-info img{
  width: 140px;
  height: 190px;
  margin-top: 10px;
}
.info-title{
  height: 19px;
  overflow: hidden;
}
.info-location{
  height: 19px;
  overflow: hidden;
}
.info-time{
  height: 19px;
  overflow: hidden;
}
.hr{
  position: relative;
}
.main-container{

  padding: 0 285px;
}
.rank-box{
  border: 5px solid rgb(189, 183, 183);
  width: 300px;
  height: 200px;
  position: absolute;
  bottom: 35px;
  right: 265px;
}
.rank-detail{  
  width: 50%;
  height: 20px;
  padding: 5px;
  overflow: hidden;
  float: left;
  color: gray;
}
.rank-detail:hover{
  cursor: pointer;
  color: tomato;
}
.rank-detail-number{
  color: white;
  width: 20px;
  float: left;
}

.rank-image img{
  width: 100px;
  height: 150px;
}
.mainslide-discount{
  border: 5px solid rgb(228, 228, 171);
  border-radius: 10px;
  width: 300px;
  height: 200px;
  position: absolute;
  bottom: 35px; 
  right: 800px;
}