.mainSlide{
  width: 1500px;
  height: 450px;
  display: inline-block;
}

.imgDiv{
  float:left;
  width:90%;
  border: 1px solid gray;
  border-radius: 20px;
  overflow: hidden;
 
}
.imgDiv-sub{
  float: left;
  width: 400px;
  margin-top: 100px;
  margin-left: 50px;
  position: absolute;
  font-size: 20px;
}
.mainSlide img{
  width: 300px; 
}

.previousButton{
  float:left;
  margin-top: 35%;
  width:5%;
  position: relative;
  left: 50px;
  top: -350px;
}

.nextButton{
  margin-top: 35%;
  float:left;
  width:4%;
  position: relative;
  right:50px;
  top: -350px;
}

.mainSlide button{
  background-color: white;
  border: none;
  color: gray;
  border: 1px solid gray;
  border-radius: 10px;
}
.mainSlide button:hover{
  cursor: pointer;
}

.main-box{
  height: 200px;
  padding: 0 285px;
  color: gray;
  
}
.select-classify{
  border: 5px solid rgb(228, 228, 171);
  border-radius: 10px;
  width: 220px;
  height: 100%;
  float: left;
  text-align: left;
  padding: 0 20px;
}

.select-classify button{
  background-color: white;
  border: none;
  font-size: 15px;
  color: gray;
  cursor: pointer;
}
.select-classify button:hover{
  color: black;
}

.mapDiv{
  border: 1px solid black;
  position: relative;
  width: 200px;
  height: 200px;
  right: 330px;
  display: inline-block;
  z-index: 9;
}
.dateDiv{
  border: 1px solid black;
  position: relative;
  width: 200px;
  height: 200px;
  right: 530px;
  display: inline-block;
  z-index: 9;
}


.select-classify-right-span{
  float: right;
}
.show-list-title{
  text-align: left;
  padding-left: 285px;
}

.show-list{
  padding: 0 285px;
}
.show-main {
  padding: 0 20px;
  border: 2px solid #ccc;
  padding: 20px;
  display: flex;
  flex-wrap: wrap; /* 항목을 여러 행에 걸쳐 배열하도록 수정 */
  justify-content: flex-start; 
  
}

.main-list {
  width: 14.28%; /* 각 항목이 7개씩 나열되도록 너비 조정 */
}

.mainslide-show-info{
  height: 360px;
  font-size: 12px;
  margin-top: 10px;
  padding: 0 10px;
}
.mainslide-show-info:hover{
  background-color: tomato;
  color: white;
  font-size: 14px;
  height: 360px;
  overflow: hidden;
}
.mainslide-show-info:hover img{
  width: 160px;
  height: 200px;
}
.mainslide-show-info:hover + hr{
  position: relative;
  bottom: -2px;
}
.mainslide-show-info img{
  width: 140px;
  height: 190px;
  margin-top: 10px;
}
.info-title{
  height: 19px;
  overflow: hidden;
}
.info-location{
  height: 19px;
  overflow: hidden;
}
.info-time{
  height: 19px;
  overflow: hidden;
}
.hr{
  position: relative;
}
