.navigation{
  height: 100px;
  background-color: white;
  text-align: center;
  top:-16px;
  border-bottom: 1px solid gray;
  line-height: 100px;
  padding: 0 140px ;
}
.logo{

float: left;
margin-left: 160px;
}
.logo a{
  text-decoration: none;
}
.logo h2{
display: inline;
color: black;
}

.search{
float: left;
margin-left: 100px;
padding: 25px 0;
width: 600px;
}

.searchDiv{
width: 350px;
height: 50px;
line-height: 50px;
border: 1px solid gray;
background-color: white;
}
.search input{
width: 270px;
height: 20px;
margin-left: 5px;
border: none;
}

.search input:focus{
outline: none;
}
.search button{
height: 50px;
background-color: white;
border: none;
}

.menu{
width: 500px;
float: right;
margin-right: 150px;
}
.menu span{
margin-left: 50px;
color: gray;
text-decoration: none;
}
.menu span:hover {
  color: black;
  cursor: pointer;
}
.menu a{
text-decoration: none;
color: gray;
}
.menu a:hover{
color: black;
cursor: pointer;
}
.output-detail{
  height: 30px;
  line-height: 40px;
  border-bottom: 1px solid black;
  overflow: hidden;
}
.search-output{
  width: 350px;
  height: 309px;
  border-left: 1px solid black;
  border-right: 1px solid gray;
  border-bottom: 1px solid black;
  background-color: white;
  position: absolute;
  z-index: 9;
}
.output-detail-image{
  background-color: white;
 width: 248px;
 float: right;
 height: 309px;
 border: 1px solid black;
 border-left: none;
 position: absolute;
 left: 351px;
 top: -1px;
 overflow: hidden;
}
.output-detail-image img{
  width: 170px;
  height: 200px;
  margin-top: 10px;
}
.output-detail-image-explain{
  margin-top: -30px;
  line-height: 20px;
}
.navbutton :hover {
  color: black;
  cursor: pointer;
  } 
  


