.container {
    position: relative;
    border: 1px solid #ccc9c9;
    width: 700px;
    margin: 0 auto;
    margin-top: 4%;
}

button {
    border: 1px solid #6b6969;
    background-color: #f1efef;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

h2 {
    text-align: center;
}

table {
    margin: auto;
    width: 550px;
}

tr {
    width: 550px;
    height: 40px;
}

td .line {
    font-size: 11px;
}

.line span {
    color: red;
}

input {
    border: 0;
    border-bottom: 1px solid black;
    height: 20px;
}

input:focus {
    outline: none;
}

.mid {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.mid button {
    width: 100px;
    height: 50px;
}