.tablecontainer {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.membertable {
  width: 100%;
  border-collapse: collapse;
}

.membertable th, .membertable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}


.searchcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.searchinput {
  padding: 8px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 4px;
  width : 200px;
}

.searchoption {
  margin-right: 5px;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 4px;
  width: 110px;
}

.searchbutton {
  margin-left : 5px;
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: #0056b3;
  }
}